.test-campaign-sub-title {
  color: var(--light-text-grey-80);
  line-height: 24px;
}

.test-campaign-header header {
  color: var(--light-text-grey-100);
  margin-bottom: 16px;
  font-size: 24px;

}

.text-campaign-button {
  width: 320px;
  margin-top: 48px;
}