.sms-reports-details .report-header {
    padding-bottom: 4px;
}

.sms-reports-details .refresh-ico {
    cursor: pointer;
    height: 16px;
    width: 16px;
}

.sms-reports-details .refresh-ico:active {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 500ms;
    -webkit-animation-iteration-count: 1;
}

.sms-reports-details .sec-border {
    border: 1px solid var(--light-primary-grey-40);
    border-radius: 12px;
}

.sms-reports-details .campaign-status {
    padding: 4px 16px;
    border-radius: 80px;
    display: block;
    max-width: 114px !important;
    height: 24px;
    line-height: 17px;
    box-sizing: border-box;
}

.sms-reports-details .campaign-status.running-bg {
    background: #E8FAF7;
    color: #0E5C4f;
}

.sms-reports-details .campaign-status.default-bg {
    background: var(--light-primary-grey-20) !important;
    color: var(--light-primary-grey-70) !important;
}

.sms-reports-details .campaign-status.completed-bg {
    background: var(--light-feedback-success-20) !important;
    color: var(--light-feedback-success-80) !important;
}

.sms-reports-details .campaign-status.scheduled-bg {
    background: var(--light-sparkle-20) !important;
    color: var(--light-sparkle-70) !important;
}
.sms-reports-details .campaign-status.submitted-bg {
    background: var(--light-secondary-20) !important;
    color: var(--light-secondary-70) !important;
}

.sms-reports-details .campaign-status.stop-bg {
    background: #FCE6E7 !important;
    color: #660209 !important;
}

.sms-reports-details .campaign-status.paused-bg {
    background: var(--light-marigold-midnight-20) !important;
    color: #7F4B10 !important;
}

.sms-reports-details .table-user-info .info-mouse-hover {
    display: none!important;
}

.sms-reports-details .table-user-info:hover .info-mouse-hover {
    width: 504px;
    border-radius: 10px;
    background: var(--white);
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.16);
    padding: 16px;
    position: absolute;
    z-index: 99;
    right: 70px;
    left: auto;
    display: block !important;
}

.sms-reports-details .download-bttn .dropdown-content {
    top: 45px;
    min-width: 114px;
}

.sms-reports-details .download-bttn .dropdown-content .menu-height {
    line-height: 36px;
    height: 36px;
    text-align: left;
    color: var(--light-primary-grey-100);
    padding: 0 16px;
}
.sms-reports-details .download-bttn .dropdown-content .menu-height:hover {
    background: var(--light-primary-grey-20);
}
.sms-reports-details .p-10 {
    padding: 10px!important;
}
.sms-reports-details .ico-grey-60{
    filter: var(--filter-grey-60);
}