<div fxLayout="column" class="campaign-action-modal">
  <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="8px" class="mb-32">
    <img src="assets/images/svg/ico-alert.svg" alt="alert" />
    <div class="header lh-28"> Terms and Conditions </div>
  </div>
  <div class="scrollable-content" [style.overflow]="'auto'" [style.overflow-x]="'hidden'" [style.height.vh]="'50'">
    <div class="title-text extra-bold grey-100 lh-24 ">Last Updated on: 31/03/2023</div>
    <div fxLayout="column" fxLayoutGap="24px">
      <div class="mt-8 grey-sub-header lh-20">Below mentioned Terms of Services [“TOS”] shall govern your (“You”/“Your”)
        use of Jio Cloud Telephony (“Services”/“Product”). Please read this TOS carefully. acceptance of the TOS and
        Privacy Policy (link) [ collectively referred as “Agreement”] shall be signified after You click on “I ACCEPT”
        button below. You understand that by accepting the TOS You agree to be legally bound by the terms given below
        and terms under the Privacy Policy. Furthermore, agreeing to the TOS in the manner above, constitute a binding
        agreement and an electronic record under the Information Technology Act, 2000 and the Rules thereunder and any
        or each including amended provisions pertaining to electronic records under various Indian statutes.
        Jio Platforms Limited (‘‘Jio’’) may modify the TOS at any time at its sole discretion due to changes in the
        applicable laws or for any other reason. Every time You utilize the Services, it will be Your responsibility to
        review the TOS. You will be deemed to have accepted the amended TOS, if You continue to access or use the
        Services after the amended TOS is made available to You. If You do not agree to the changes, You must stop using
        the Services, including the paid services offered by the Product. Discontinuing use of the Product will not
        affect the applicability of the TOS to Your prior uses of the Product.
        This Agreement shall be effective from the day You sign up for the Services on our Website (“Site”) (“Effective
        Date”).</div>

      <div>
        <div class="title-text extra-bold grey-100 lh-24">1. DESCRIPTION OF THE PRODUCT/SERVICES</div>
        <div class="mt-8 grey-sub-header lh-20">At any place in this TOS, if the word “Product” or “Services” is
          mentioned it shall include: a) Any telephony numbers related services that we provide to You for Your usage as
          per this TOS. b) Anyplatform,userinterfaceetc.thatwemayprovidetoYouincludinganyinterface,applications etc. c)
          Any application program interface related (“API”) or embedded in any website, application or platform. d) Any
          other aspect of either the Product or the Services that we may designate as such in writing at our sole
          discretion.</div>
      </div>
      <div>
        <div class="title-text extra-bold grey-100 lh-24">2. REPRESENTATION AND WARRANTIES</div>
        <div class="mt-8 grey-sub-header lh-20">By using the Services, You hereby represent and warrant that: a) Your
          use of Services is subject to authorisation by us. After You have been authorised as an User by Us to use the
          Services, it is Your duty to ensure that no unauthorized personal is accessing/using the Services. In case any
          unauthorised User is using the Product or Services, You shall take immediate steps to inform Us about such
          unauthorized usage. b) You shall not use the Services to make any call or send any message that violates any
          applicable law. It’s Your sole obligation to familiarize Yourself with the applicable laws. c) You will not
          use the Services in any manner that is harmful, harassing, threatening, derogatory, blasphemous defamatory,
          obscene, pornographic, pedophilic, libelous, invasive of another's privacy, hateful, or racially, ethnically
          objectionable, disparaging, relating or encouraging money laundering or gambling, or otherwise unlawful in any
          manner whatsoever; d) You shall ensure that You will be responsible for Your customer’s data. You hereby
          warrant and represent that You will source any data required for the Services as per the applicable law and
          applicable industry standards. Jio hereby disclaims any responsibility towards any data of Your customers. e)
          In case You make any call records or any other kind of records while using our Product, You shall make such
          records or retain any such data as per the applicable laws. f) You have read, understood and hereby agree to
          comply with the Privacy Policy of the Product. (Privacy Policy Link). g) Your usage of the Product shall not
          harm any minors in any way. h) Your usage of the Product shall not harm or threaten the sovereignty or
          integrity of India. i) You shall only host, display any and all information that is (i) correct, (ii) not
          deceiving or misleading about any aspect of the Product or Services, (iii) is not violative of any applicable
          law.</div>
      </div>
      <div>
        <div class="title-text extra-bold grey-100 lh-24 ">3. KNOW YOUR CUSTOMER (KYC) OBLIGATIONS</div>
        <div class="mt-8 grey-sub-header lh-20">You agree to oblige by any Know Your Customer (KYC) requirements/demand
          that We make or notify to You. You understand and agree that failing to oblige with this KYC norms can lead to
          suspension of Services or Your usage of the Product. We will inform You from time to time as to how to comply
          with such KYC norms.</div>
      </div>
      <div>
        <div class="title-text extra-bold grey-100 lh-24">4. PAYMENT TERMS</div>
        <div class="mt-8 grey-sub-header lh-20">Jio will raise an invoice on or at any time after You have accepted to
          use the Services. (“Invoicing Term”). You agree to pay the amount mentioned on the invoice within 30 days of
          receipt of the invoice. All the applicable taxes including but not limited to GST and other charges, duties
          etc. shall be borne by You. In case of delay of payment, Jio apply late payment charges and You shall be
          liable to pay such charges.
          You also agree to bear any kind of bank charges related to payment including transfer fees, transaction fees
          etc. (for example NEFT charge). Jio will not be responsible nor will undertake any liability or will adjust
          any amount in any invoice pertaining to any bank charges levied by Your bank or finance institution.
          All payments shall be made as per the procedure or mechanism specified by Jio .</div>
      </div>
      <div>
        <div class="title-text extra-bold grey-100 lh-24">5. INTELLECTUAL PROPERTY RIGHTS</div>
        <div class="mt-8 grey-sub-header lh-20">You agree to abide by the following terms with relation to the
          Intellectual Property: a) The Product is the intellectual property of Jio and shall belong to Us. All
          intellectual property rights including moral rights subsisting in the Product or integral to the Product
          (except for open codes) shall belong to Us or Our respective licensor. b) You are granted a limited,
          non-exclusive, revocable license to use the Product as per the terms of this TOS or any agreement entered
          between You and Jio for usage in India only. At no point in time You shall be entitled to claim any rights in
          the intellectual property in the product or any related or intrinsic product, process etc. The Product is
          provided to You on an “as is” basis. You are prohibited from using the product in any manner that may violate
          any intellectual property of Jio , or shall attempt to copy, reverse engineer any part of the Product or
          Product as a whole. c) Personal Data: In case You share any personal data with Us for the purpose of
          utilization of the Product shall always belong to You and You will be liable of such Personal Data. We will
          not claim any ownership or right in Your Personal Data except as provided in the Privacy Policy. d)
          Non-Personal Data: Non Personal Data is the Data that does not identify You, and shall include session, web
          beacons and usage and transaction data, aggregate log data/ Website and/or Services usage data and aggregate
          information. Non Personal Information shall also include Your usage data, product usage behaviors and related
          aspects. This data shall always be the property of Jio .</div>
      </div>
      <div>
        <div class="title-text extra-bold grey-100 lh-24">6. INDEMNIFICATION</div>
        <div class="mt-8 grey-sub-header lh-20">You agree to indemnify and hold Jio , its affiliates, subsidiaries, its
          third party service providers and their respective directors, officers, personnel, contractors and agents
          harmless, for and against any and all claims (whether third party or counter-party), suits, judgment, losses,
          damages, cost and expenses arising out of, or relating to, Your usage of the Product, Your breach of the TOS
          including infringement of any intellectual property rights, violation of any applicable law, misuse of
          personal data of Your customers or violation of any rights/regulations applicable to You with regards to Your
          customers or any other restrictions or guidelines provided by Jio . You shall at its sole cost and expense
          indemnify and pay on demand by the Jio , defend and hold the Jio harmless from any and all liabilities,
          claims, taxes, indirect taxes and duties including denial of any input tax credit, assessments, fees, levies,
          withholding taxes/TDS, charges, penalties, fines and/or interests of any kind and nature whatsoever including
          taxes, interests, fines and penalties on account of disallowance of any expense or cost, and any cost relating
          or in relation thereto (including attorneys’ fees, cost of obtaining legal opinions, court fees etc.),
          howsoever incurred by, imposed upon or asserted against or brought against the Jio by any statutory, judicial
          or quasi-judicial
          bodies or governmental body or agency either in India or in any other country or province, upon or with
          respect to payments in accordance with this TOS and/or otherwise in relation to this Agreement, and any
          document, instrument, agreement or contract entered into in relation hereto.</div>
      </div>
      <div>
        <div class="title-text extra-bold grey-100 lh-24">7. DISCLAIMER OF WARRANTIES AND LIMITATION OF LIABILITY</div>
        <div class="mt-8 grey-sub-header lh-20">THE PRODUCT/SERVICE IS PROVIDED ON AN “AS-IS” AND “WITH ALL FAULTS AND
          RISKS” BASIS, AND WITHOUT WARRANTIES OF ANY KIND, EXCEPT THAT JIO , AS PER THE CONTRACTS IT HAS ENTERED WITH
          THE THIRD PARTIES, IS PERMITTED TO GRANT YOU THE RIGHTS AND LICENSES SET FORTH IN THE TOS. TO THE MAXIMUM
          EXTENT PERMITTED UNDER LAWS, JIO DISCLAIMS ALL WARRANTIES WHETHER EXPRE-SS OR IMPLIED INCLUDING, ANY W
          ARRANTIES OF MERCHANT ABILITY , FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT OR THAT THE USE OF THE
          PRODUCT WILL BE UNINTERRUPTED OR ERROR-FREE. YOU ASSUME THE ENTIRE RISK OF USING THE PRODUCT. IN NO EVENT
          SHALL RELIANCE BE LIABLE TO YOU FOR ANY SPECIAL, INCIDENTAL, INDIRECT, PUNITIVE OR CONSEQUENTIAL DAMAGES
          WHATSOEVER. (INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF BUSINESS PROFITS, BUSINESS INTERRUPTION, LOSS
          OF DATA OR INFORMATION, OR ANY OTHER PECUNIARY LOSS) ARISING OUT OF THE USE OF, OR INABILITY TO USE OR ACCESS
          THE PRODUCT OR FOR ANY SECURITY BREACH OR ANY VIRUS, BUG, UNAUTHORIZED INTERVENTION, DEFECT, OR TECHNICAL
          MALFUNCTIONING OF THE PRODUCT, WHETHER OR NOT FORESEEABLE AND WHETHER OR NOT RELIANCE HAS BEEN ADVISED OF THE
          POSSIBILITY OF SUCH DAMAGES, BASED ON ANY THEORY OF LIABILITY, INCLUDING BREACH OF CONTRACT OR WARRANTY,
          NEGLIGENCE OR OTHER TORTIOUS ACTION, OR ANY OTHER CLAIM ARISING OUT, OF OR IN CONNECTION WITH, YOUR USE OF, OR
          ACCESS TO, THE PRODUCT. FURTHER, RELIANCE SHALL NOT BE LIABLE TO YOU FOR ANY DISCONTINUANCE OF THE PRODUCT,
          DATA LOSS OR FOR ANY CONSEQUENCES RESULTING FROM SUCH ACTIONS. RELIANCE’S AGGREAGTE LIABILITY SHALL BE LIMITED
          TO THE EXTENT PERMITTED BY LAW AND YOUR SOLE AND EXCLUSIVE REMEDY AGAINST RELIANCE SHALL BE LIMITED TO AMOUNT
          PAID IN THE PRE-CEEDING ONE MONTH.</div>
      </div>
      <div>
        <div class="title-text extra-bold grey-100 lh-24">8. GOVERNING LAW AND DISPUTE RESOLUTION</div>
        <div class="mt-8 grey-sub-header lh-20">The TOS shall be governed by the laws of India without giving effect to
          principles of conflict of laws and all disputes hereunder shall be subject to the sole and exclusive
          jurisdiction of the courts situated at Mumbai, Maharashtra, Republic of India. The Parties shall be bound to
          refer the Disputes to arbitration in accordance with the provisions of this Agreement. The arbitration shall
          be conducted in accordance with the provisions of the Arbitration and Conciliation Act, 1996 (as applicable in
          India). Each Party shall appoint one arbitrator. Such appointed arbitrators will appoint third arbitrator. All
          three arbitrators shall constitute an arbitration tribunal. The arbitration proceedings and the seat of
          arbitration shall be in Mumbai. The arbitration proceedings shall be conducted in the English language. The
          decision of the arbitration tribunal shall be final and binding on the Parties.</div>
      </div>
      <div>
        <div class="title-text extra-bold grey-100 lh-24">9. MISCELLANEOUS</div>
        <div class="mt-8 grey-sub-header lh-20">a) Force Majeure: Jio shall be under no liability whatsoever to You in
          the event of non-availability of any portion of the Service occasioned by act of God, war, revolution, riot,
          civil commotion, strike, lockout, flood, fire, failure of any public utility, man-made disaster,
          infrastructure /server/data center failure, failure of telecommunication services, electricity outage,
          government regulation passed thereon or any other cause whatsoever beyond the control of Jio .
          b) Assignment: Jio may, in its sole discretion, assign this TOS or any of its rights and obligations to any
          third party including its affiliates. You shall not assign or transfer Your rights in relation to the Services
          to any third party without our prior consent in writing.
          c) Waiver: Any failure by Us to enforce this TOS, for whatever reason, shall not be construed as a waiver of
          any right to do so at any time.
          d) Severability: If any portion of the TOS is held to be invalid or unenforceable, then that portion will be
          construed consistent with applicable law as nearly as possible, and the remaining portions will remain in full
          force and effect.
          e) Entire Agreement and Amendment: The TOS along with Privacy Policy and any other relevant agreement , as
          amended from time to time, contain the entire understanding between the parties.
          f) Survival. All clauses which by their very nature survive termination, including the clauses on
          indemnification obligation, disclaimer of warranties, limitation of liability and governing law, shall survive
          in perpetuity.
          g) Relationship: Nothing contained in this TOS creates or implies an agency relationship or constitutes a
          joint venture or partnership between Jio and You, and the relationship between Jio and You shall be as
          independent contractors.
          h) Grievance Officer. In accordance with the applicable laws, for any grievance, You may reach the grievance
          officer of Jio at:</div>
      </div>
      <div fxLayout="row" class="mt-30">
        <div>
          <label class="cstm-checkbox" [ngClass]="{checked:isCheck}"><input type="checkbox" [checked]="isCheck"
              [(ngModel)]="isCheck" (change)="proceedEnable();" /></label>
        </div>
        <div>I agree to the terms and conditions which is stated above</div>
      </div>
    </div>

  </div>

  <div fxLayout="row" fxLayoutAlign="end end" class="mt-32">
    <button type="button" class="medium-primary-button " (click)="actionModal()" [ngClass]="{'disabled':!isDisabled}">Proceed</button>
  </div>
</div>