.plus-audio-root .table-user-info {
    position: relative;
  }

  .plus-audio-root .campaign-custom-width {
    max-width: 500px;
    position: absolute;
    z-index: 99;
    margin-top: 50px !important;
    border-radius: 24px;
    background: var(--white);
    box-shadow: var(--shadow-m);
    padding: 16px;
    width: 100%;
    box-sizing: border-box;
    // height: 272px;
  }

  .plus-audio-root .search-box{
  background: var(--light-primary-grey-20);
  border-radius: 30px;
}

.plus-audio-root .search-result-row {
    height: 40px;
    line-height: 40px;
  }

  .plus-audio-root .dot-circle {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    display: inline-block;
    background-color: var(--light-primary-grey-80);
    margin-top: 8px;
  }
 
  .plus-audio-root  .campaign-custom-width .cdk-virtual-scroll-content-wrapper {
    flex-direction: column !important;
  }
  .plus-audio-root .campaign-custom-width .cdk-virtual-scroll-viewport {
    height: 200px;
  }
  .plus-audio-root  .grey-40-border {
    position: relative;
  }