.sms-template-root{
    .cstm-input input {
        padding: 8px 12px 8px;
    }

    .cstm-textarea textarea {
        padding: 8px 12px 8px;
    }

    .ml-22{
        margin-left: 22px;
    }
    .cstm-dropdown__select{
        font-size: 0.875rem !important;
    }
}


