.sms-template-root .content-modal-action {
  overflow: auto;
  height: calc(100vh - 64px) !important;
  padding: 80px 32px 32px 32px;
}

.sms-template-root .content-modal-action .ml-22 {
  margin-left: 22px;
}

.sms-template-root .cstm-dropdown__select{
  font-size: 0.875rem !important;
}