<div class="choose-sms-lead-list-modal" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="header-modal-action">
        <h2 class="lh-28">{{getstartData?.campaignSchedule?.campaignType === 'ondemand' ? 'Choose SMS Content Type' : 'Choose SMS Content Type and Lead List'}}</h2>
        <button class="tertiary-button-icon close-btn ico-close-right-top">
            <img src="assets/images/svg/ico-close-blue.svg" alt="close"  (click)="onCancel()"/>
        </button>
    </div>
    <div class="content-modal-action scrollable-content mt-24">
        <div fxLayout="column" fxLayoutGap="24px">
            <div>
                <div class="body-text lh-20">The SMS Content Type will be</div>
                <div class="grid-layout-row-wrap-2n">
                    <div fxLayout="row" fxLayoutGap="20px" fxFlex="100" class="mt-8 no-padding" fxLayoutAlign="space-between stretch">
                        <div fxLayout="row" fxLayoutGap="8px" fxFlex="100" fxLayoutAlign="space-between stretch" class="radio-options-container grid-layout-row-wrap-2n">
                            <div class="radio-button" fxLayout="row" fxLayoutAlign="start start">
                                
                                <label class="cstm-radio" [ngClass]="{ checked: radioSelected == 1 }">
                                    <input value="1" [checked]="radioSelected == 1" type="radio" name="inviteMember"
                                          [(ngModel)]="radioSelected" (change)="valuechange()" />
                                    </label>
                                <div>
                                    <div [ngClass]="radioSelected == 1 ? 'grey-100' : 'body-text'">Static</div>
                                    <div class="mini-text mt-4 grey-70 lh-16">
                                        Choose Static when your SMS content is the same for all the audience
                                    </div>
                                </div>
                            </div>

                            <div class="radio-button" fxLayout="row" fxLayoutAlign="start start">
                               
                                <label class="cstm-radio" [ngClass]="{ checked: radioSelected == 2 }">
                                    <input value="2" [checked]="radioSelected == 2" type="radio" name="inviteMember" (change)="valuechange()"
                                          [(ngModel)]="radioSelected" />
                                  </label>
                                <div>
                                    <div [ngClass]="radioSelected == 2 ? 'grey-100' : 'body-text'">Customized</div>
                                    <div class="mini-text mt-4 grey-70 lh-16">
                                        Choose Customized in case you want to send personalised SMS to your audience
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ng-container *ngIf="getstartData?.campaignSchedule?.campaignType !== 'ondemand'">
                <div fxLayout="column" fxLayoutGap="8px" class="no-margin" [class.disabled]="getstartData?.campaignSchedule?.campaignType === 'ondemand'">
                    <div class="body-text lh-20" *ngIf="leadDetail.length ===0 && radioSelected == 1">Lead List</div>
                    <div class="body-text lh-20" *ngIf="leadDetail.length ===0 && radioSelected == 2">Customized Content Lead List</div>
                    <div class="body-text lh-20" *ngIf="leadDetail.length >0" >Selected Lead List</div>
                    <div fxLayout="row" fxLayoutGap="12px">
                        <button class="medium-primary-button" *ngIf="leadDetail.length ===0 && radioSelected == 1" (click)="onclickLead(); $event.stopPropagation()" >
                            <span class="mr-8" >Select Lead List</span>
                            <img src="assets/images/svg/ico-chevron-down.svg" class="ico-small" alt="" />
                        </button>
                        <button class="medium-secondary-button" *ngIf="leadDetail.length === 0 && radioSelected == 1" (click)="openCreateLeadModal()">
                            <img src="assets/images/svg/ico-upload-blue.svg" class="ico-small mr-8" alt="" />
                            <span>Upload Lead List</span>
                        </button>
                        <button class="medium-primary-button" *ngIf="leadDetail.length ===0 && radioSelected == 2" (click)="openCustomLeadList()">
                            <img src="assets/images/svg/ico-upload-blue.svg" class="ico-small mr-8" alt="" />
                            <span>Upload</span>
                        </button>
                        <div class="campaign-custom-width" *ngIf="visibleLead" (click)="$event.stopPropagation()">
                            <div class="search-box mb-8">
                              <div fxLayout="column">
                                <div class="calc-width">
                                  <app-custom-search [label]="'Search'" IconSrc="assets/images/svg/ico-search-grey.svg"
                                    IconClr="assets/images/svg/ico-close-outline.svg"
                                    (outputText)="onSearch($event, 'LeadDropdown')">
                                  </app-custom-search>
                                </div>
                              </div>
        
                            </div>
                            <div fxLayoutAlign="space-between center" fxLayout="row" fxLayoutGap="5px">
                              <div fxLayout="column" fxFlex="100" fxLayoutGap="5px">
                                <div [style.height]="calHeight(LeadDropdown?.length)" *ngIf="LeadDropdown">
                                  <cdk-virtual-scroll-viewport itemSize="40">
                                    <div class="search-result-row" fxLayout="column" fxFlex="100" fxLayoutGap="5px"
                                      *cdkVirtualFor="let item of LeadDropdown">
                                      <div>
                                        <div
                                          fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
                                          <div fxLayoutAlign="center center" fxLayout="row" fxLayoutGap="8px" fxFlex="100">
                                            <img src="assets/images/svg/ico-uploded-gray.svg" alt="" class="ico-extra-small" />
                                            <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between center"
                                              class="sub-title-text bold cursor-pointer grey-100" (click)="Selectedlead(item)">
                                              <div>{{ item?.leadName }}</div>
                                              <div class="mini-text grey-80 bold">
                                                count:
                                                {{ item?.count ? item?.count : "0"}}
                                              </div>
                                            </div>
                                          </div>
                                          <div fxLayoutAlign="start center" fxLayout="row" fxLayoutGap="5px" class="mini-text">
                                          </div>
                                        </div>
                                      </div>
                                      
                                    </div>
                                  </cdk-virtual-scroll-viewport>
                                </div>
                              </div>
                            </div>
                            
                          </div>

                    </div>
                    <div fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="start center"  *ngFor="let item of leadDetail">
                        <div>
                            <img src="assets/images/svg/ico-file-upload-blue.svg" class="ico-medium" alt="">
                        </div>
                        <div class="body-text lh-20"> {{ item?.leadName  }}</div>
                        <div><img src="assets/images/svg/ico-close-outline.svg"  (click)="deleteLeadList(item)" alt="" class="ico-small cursor-pointer"></div>
                </div>
                   
                </div>
    
                <div fxLayout="column" fxLayoutGap="8px" class="mt-24" *ngIf="leadDetail.length ===0 && radioSelected == 2"> 
                    <div fxLayout="column" fxLayoutGap="8px">
                        <div class="customized-content-lead-list">
                            <ul class="pl-16 lh-20">
                              <li class="mb-20">Only one list is allowed which can contain up to 10 lacs of contacts along with variables (up to 5 variables are allowed)</li>
                              <li class="mb-20" ngNonBindable>Please include {{#var1#}} in your SMS template for 1st Variable , {{#var2#}} for 2nd Variable & so on.</li>
                              <li>This list should have numbers as a mandatory column</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="footer-modal-action">
        <div fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="end end">
            <button type="button" class="large-secondary-button" (click)="onCancel()">
                Cancel
            </button>
            <button type="button" class="large-primary-button"  [disabled]="disableSave()" (click)="saveDetail()">
                Save
            </button>
        </div>
    </div>
</div>
<ng-container *ngIf="isCapmaignCreateOpen">
    <app-sidebar-panel [width]="'540px'" [isSidebarOpen]="isCapmaignCreateOpen" sidebarPosition="right"
      (sidebarState)="isCapmaignCreateOpen = false">
      <div content>
        <app-upload-lead-list (closeModal)="closeModal($event, 'uploadLead')">
        </app-upload-lead-list>
      </div>
    </app-sidebar-panel>
  </ng-container>