<div class="missed-reports-details" fxFlex="100" fxLayoutAlign="stretch space-between" fxLayout="column">
  <div fxLayout="column" fxLayoutGap="16px">
    <div fxLayout="row" fxLayoutAlign="space-between start" class="report-header">
      <div fxLayout="row" fxLayoutGap="12px">
        <div>
          <img src="assets/images/svg/ico-back.svg" alt="back" class="ico-small cursor-pointer"
            (click)="goBacktoReportList()" />
        </div>
        <div fxLayout="column" fxLayoutGap="8px">
          <div fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="start center">
            <div class="header">{{(selectedCampaign?.campaignName | titlecase) || '-'}}</div>
            <div class="ml-4 campaign-status mini-text mt-2"
              [ngClass]="[selectedCampaign?.campaignStatus == 'ACTIVE' ? 'running-bg' : selectedCampaign?.campaignStatus == 'DRAFT' ? 'default-bg' : selectedCampaign?.campaignStatus == 'COMPLETED' ? 'completed-bg' : '' ]">
              {{selectedCampaign?.campaignStatus | titlecase}}</div>
          </div>

          <div fxLayout="row" fxLayoutGap="12px">
            <div class="mini-text lh-16" *ngIf="updatedDate">Last updated {{differenceVal}} ago on
              {{ updatedDateTime | date : "HH:mm" || "-" }} , {{ updatedDate || "-" }}</div>

            <img src="assets/images/svg/ico-refresh-screen.svg" alt="screen-refresh" class="refresh-ico"
              (click)="refreshapi()" />
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="12px" class="dot-menu-dropdown download-bttn" appDropdown
        [class.disabled]="!!!dataSource?.length">
        <button class="medium-primary-button" [disabled]="!!!dataSource?.length">
          <img src="assets/images/svg/ico-download.svg" alt="" class="ico-small mr-8" /> Download Report
          <img src="assets/images/svg/ico-chevron-down.svg" alt="" class="ico-small ml-8" />
        </button>
        <div id="myDropdown" class="dropdown-content">
          <div fxLayout="column">
            <div class="menu-height" (click)="downloadCampaignReport('csv')">as .csv</div>
            <div class="menu-height" (click)="downloadCampaignReport('xlsx')">as .xlsx</div>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" class="mt-5">
      <div>
        <label class="sub-title-text bold lh-24">Detailed Report List
          ({{ ELEMENT_DATA.count ? ELEMENT_DATA.count : "0" }})</label>
      </div>
      <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center">
        <div fxFlex="312px" class="search-align">
          <app-custom-search fxFlex="100" [label]="'Search'" IconSrc="assets/images/svg/ico-search-grey.svg"
            (outputText)="outputSearch($event)"></app-custom-search>
        </div>
        <button type="button" class="medium-secondary-button disabled">
          <img src="assets/images/svg/ico-filter-grey.svg" class="ico-small mr-8" alt="" />
          <span class="grey-80">Filter</span>
        </button>
      </div>
    </div>
  </div>

  <div fxLayout="column" [style.overflow]="'auto'" class="flex-1 custom-table mt-24">
    <div fxLayout="row" fxLayoutAlign="space-between start" class="custom-table-header-content">
      <div fxLayout="column" fxFlex class="custom-table-header">
        <div>From Number</div>
      </div>
      <div fxLayout="column" fxFlex class="custom-table-header">
        <div>Call Time</div>
      </div>
      <div fxLayout="column" fxFlex class="custom-table-header text-center" *ngIf="selectedCampaign?.audioData">
        <div>Call Duration (mm:ss)</div>
      </div>
      <div fxLayout="column" fxFlex class="custom-table-header" *ngIf="selectedCampaign?.smsReport">
        <div fxLayout="row" fxLayoutGap="4px" fxLayoutAlign="start start">
          <div>Reply SMS Status</div>
          <div class="table-user-info">
            <div><img src="assets/images/svg/ico-info.svg" alt="" class="ico-extra-small cursor-pointer"></div>
            <div fxLayout="column" fxLayoutGap="12px" class="info-mouse-hover body-text">
              <div><span class="extra-bold">Queued:</span>This means that the SMS you have sent has been queued
                internally for delivery.</div>
              <div><span class="extra-bold">Sending:</span> This means the SMS has been pushed by JioCX to the SMS
                Gateway and we're yet to receive the success/failed status.</div>
              <div><span class="extra-bold">Submitted:</span>This means that the SMS you have sent has been submitted
                from our system to SMS Gateway.</div>
              <div><span class="extra-bold">Sent</span>: The SMS was successfully delivered to the recipient.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="column" [style.overflow]="'auto'" class="scrollable-content custom-table overlay"
      *ngIf="dataSource?.length">
      <div fxLayout="row" fxLayoutAlign="space-between start" class="custom-table-content"
        *ngFor="let element of dataSource;let i=index;">
        <div class="contact-list-details" fxFlex>
          <div fxLayout="row" fxLayoutGap="4px" fxLayoutAlign="start center" class="table-user-info">
            <div class="count-text">{{i+1}}.</div>
            <div class="ellipsis-text">{{element?.fromNumber || '-'}}
            </div>
          </div>
        </div>
        <div class="contact-list-details" fxFlex>
          <div fxFlex="100">
            {{element?.callTime || '-'}}
          </div>
        </div>
        <div class="contact-list-details" fxFlex *ngIf="selectedCampaign?.audioData">
          <div fxFlex="100" class="text-center">
            {{element?.callDuration || '-'}}
          </div>
        </div>

        <div class="contact-list-details" fxFlex *ngIf="selectedCampaign?.smsReport">
          <div fxFlex="100">
            {{element?.status || '-'}}
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!!!dataSource?.length" class="nodata text-center mt-30">
      No Data Found
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="end end" class="pagination no-margin" *ngIf="ELEMENT_DATA.count > 7">
    <app-custom-pagination [pageIndex]="pageIndex" [total]="total" [pageSize]="7" [pageSizeOptions]="[5, 10, 20]"
      (returnPage)="getCurrentPage($event)"></app-custom-pagination>
  </div>
</div>