.campaign-schedule-root  {
  .camp-title-one {
    font-weight: 700;
    font-size: var(--font-size-title);
    line-height: 24px;
    color: var(--light-primary-grey-100)
  }

  .subtitle-1 {
    color: var(--light-text-grey-80) !important;
    font-size: 15px !important;
    line-height: 24px !important;
  }

  .subtitle-2 {
    color: var(--light-text-grey-80) !important;
    font-size: 14px !important;
  }

  .dropdown-mg {
    margin-top: 3px;
  }
  .custom-switch {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 16px;
    input {
      opacity: 0;
      width: 0;
      height: 0;
    }
    input:checked+.slider {
      background-color: var(--light-primary-50);
    }
    // input:focus+.slider {
    //   box-shadow: 0 0 1px var(--light-primary-50);
    //   background-color: var(--light-primary-50);
    // }
    input:checked+.slider:before {
      background-color: var(--white);
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
      left: -12px;
      bottom: 3px;
    }
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      -webkit-transition: .4s;
      transition: .4s;
      background-color: transparent;
      border: 1px solid var(--light-primary-grey-80);
      &::before {
        position: absolute;
        content: "";
        height: 8px;
        width: 8px;
        left: 4px;
        bottom: 3px;
        background-color: var(--light-primary-grey-80);
        -webkit-transition: .4s;
        transition: .4s;
      }
    }
    .slider.round {
      border-radius: 28px;
    }
    
    .slider.round:before {
      border-radius: 50%;
    }
  }

  .date-container input[type='date']::-webkit-calendar-picker-indicator,
  .time-container input[type='time']::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: absolute;
    width: 100%;
    cursor: pointer;
    left: 0;
    right: 0;
    z-index: 2;
  }
  .date-container {
    .date-input {
      z-index: 2;
      cursor: pointer;
    }
  }
  .date-container.cstm-input input::placeholder{
    color: var(--light-primary-grey-60);
  }
  .tertiary-button-icon:hover img {
    filter: none !important;
  }
  .divider-line {
    border-top: 1px solid var(--light-primary-grey-40);
  } 

  .pt-2 {
    padding-top: 2px;
  }
  // .cstm-input input::placeholder{
  //   color: var(--light-primary-grey-60) !important;
  // }
  .cstm-input .cstm-input__label{
    color: var(--light-primary-grey-70);
  }

  .pb-52{
    padding-bottom: 52px;
  }

  .destination-num-container {
    background: var(--light-primary-20) 0% 0% no-repeat padding-box;
    border-radius: 8px;
    // height: 200px;
  }

  .destination-num-container .grid-layout-row-wrap-2n > *{
    margin-bottom: 8px !important;
  }
  .destination-num-container .grid-layout-row-wrap-2n > div:nth-child(5n){
    margin-bottom: 0px !important;
  }
  .cus-pr{
    position: absolute;
    top: -5px;
  }
}
// .cstm-input input