.bar-chart-root {
    position: relative;
}
.bar-chart-root canvas{
    width: 99%!important;
  }

.bar-chart-root .charts-empty-data {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}