.destination-num-root .add-no.medium-tertiary-button{
    padding: 8px 0px;
}

.destination-num-root .cstm-dropdown__select{
    font-size: 14px !important;
}

.destination-num-root .num-inp-field.cstm-input input{
    width: 300px;
}
.destination-num-root .otp-box.cstm-input input{
    width: 264px;
}

.destination-num-root .cstm-input .cstm-input__message{
    margin-top: 0px !important;
}